.grid-card__content {
  background-color: #300606;
  color: white;
}

.grid-card {
  transition: 0.5s;
}

.grid-card:hover,
.grid-card:focus
 {
  scale: 1.02;
  transition: 0.5s;

 }

.grid-card__link,
.grid-card__link
{
  color: wheat;
  text-decoration: none;
}

.grid-card__link:hover,
.grid-card__link:focus
 {
  border: orange 2px solid;
  color: orange;
  opacity: 0.95;
  transition: 0.5s;
}

.grid-card:hover .grid-card__content{
  background-color: #1b0202;
  transition: 0.5s;
}
